.container{
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 200px;
    font-family: 'Quantico', sans-serif;
    color: white;
}

.title{
    font-size: 30px;
    margin-bottom: 35px;
    letter-spacing: 2px;
}

.text{
    font-size: 15px;
    letter-spacing: 2px;
}

.render{
    display: none;
}