.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formContainer{
    font-family: 'Quantico', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}


.form{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 50px;
    margin-top: 40px;
}

.form
input{
    width: 250px;
    height: 35px;
    margin-bottom: 15px ;
    border-radius: 5px;
    padding-left: 10px;
}

.formTitle{
    text-align: center;
}

.button{
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
    background-color: aqua;
    width: 150px;
    height: 38px;
    border-radius: 5px;
}

.error{
    width: 300px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.render{
    display: none;
}